// vim: set ft=scss ts=2 sts=2: //

:root {
  --accent: rgba(114, 167, 188, 1);
  --accent-alpha-90: rgba(114, 167, 188, 0.9);
  --accent-alpha-70: rgba(114, 167, 188, 0.7);
  --accent-alpha-40: rgba(114, 167, 188, 0.4);
  --accent-alpha-20: rgba(114, 167, 188, 0.2);

  --background: #1f1f28;
  --color: rgb(220, 215, 186);
  --border-color: rgba(220, 215, 186, 0.1);

  --dark-background: rgba(22, 22, 22, 1);
  --dark-background-alpha-90: rgba(22, 22, 29, 0.9);
  --dark-background-alpha-70: rgba(22, 22, 29, 0.7);
  --dark-background-alpha-40: rgba(22, 22, 29, 0.4);
  --dark-background-alpha-20: rgba(22, 22, 29, 0.2);

  --varaccent: rgba(147, 138, 169, 1);
  --varaccent-alpha-90: rgba(147, 138, 169, 0.9);
  --varaccent-alpha-70: rgba(147, 138, 169, 0.7);
  --varaccent-alpha-40: rgba(147, 138, 169, 0.4);
  --varaccent-alpha-20: rgba(147, 138, 169, 0.2);
}
